
[Desktop Entry]
Version=1.0
Type=Application
Terminal=true
Icon[en_US]=gnome-panel-launcher
Exec=sass --watch /var/www/tumblr_wendy/css/901_custom.scss:/var/www/tumblr_wendy/css/901_custom.css
Name[en_US]=901_custom.css sass
Comment[en_US]=Watches the file using sass
Name=901_custom.css sass
Comment=Watches the file using sass
Icon=gnome-panel-launcher
